In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('all_tehran_eslahi.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,category,place,ad_type,year_of_construction,Advertiser,Room_number,Area,Deposit,Lease,vadie,ejare,vadie2,ejare2
0,0,0,آپارتمان,نیاوران,ارائه,1376,شخصی,3.0,130,90000000,7000000,233333333,2700000,323333333,9700000
1,2,2,آپارتمان,شهرک کوهسار,ارائه,1398,شخصی,2.0,85,280000000,0,0,8400000,280000000,8400000
2,3,3,آپارتمان,جیحون,ارائه,1394,شخصی,2.0,65,70000000,1500000,50000000,2100000,120000000,3600000
3,4,4,آپارتمان,شهرک گلستان غربی,ارائه,1390,شخصی,2.0,88,32000000,3300000,110000000,960000,142000000,4260000
4,5,5,آپارتمان,پارس غربی,ارائه,1376,مشاور املاک,2.0,75,80000000,1300000,43333333,2400000,123333333,3700000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16501 entries, 0 to 16500
Data columns (total 15 columns):
Unnamed: 0              16501 non-null int64
Unnamed: 0.1            16501 non-null int64
category                16501 non-null object
place                   16501 non-null object
ad_type                 16501 non-null object
year_of_construction    16501 non-null int64
Advertiser              16501 non-null object
Room_number             16498 non-null float64
Area                    16501 non-null int64
Deposit                 16501 non-null int64
Lease                   16501 non-null int64
vadie                   16501 non-null int64
ejare                   16501 non-null int64
vadie2                  16501 non-null int64
ejare2                  16501 non-null int64
dtypes: float64(1), int64(10), object(4)
memory usage: 1.9+ MB

In [5]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
df.drop(['ad_type'], axis=1, inplace=True)
df.drop(['Deposit', 'Lease'], axis=1, inplace=True)
df.drop(['vadie', 'ejare'], axis=1, inplace=True)
#df.drop(['vadie2', 'ejare2'], axis=1, inplace=True)

In [6]:
df = pd.get_dummies(df, columns=['place','Advertiser','category'])

In [7]:
df.head()

,year_of_construction,Room_number,Area,vadie2,ejare2,place_ آجودانیه,place_ آذربایجان,place_ آذری,place_ آرارات,place_ آرژانتین,...,place_ ‌نو,place_ ‌ویلا,Advertiser_شخصی,Advertiser_مشاور املاک,category_آپارتمان,category_خانه و ویلا,category_خانه ویلا,category_دفتر کار، اتاق اداری و مطب,category_صنعتی، کشاورزی و تجاری,category_مغازه و غرفه
0,1376,3.0,130,323333333,9700000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,1398,2.0,85,280000000,8400000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1394,2.0,65,120000000,3600000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3,1390,2.0,88,142000000,4260000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,1376,2.0,75,123333333,3700000,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [8]:
df = df.dropna()

In [9]:
X = df.drop('vadie2',axis=1)
y = df.vadie2

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import math

# define a function to generate a prediction and then compare the desired metrics
def predict_metrics(lr, x, y):
    pred = lr.predict(x)
    mae = mean_absolute_error(y, pred)
    mse = mean_squared_error(y, pred)
    rmse = math.sqrt(mse)
    r2 = r2_score(y, pred)
    return mae, mse, r2 , rmse

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split( X, y, test_size = 0.07,random_state = 101)

In [12]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import explained_variance_score

In [24]:
models = DecisionTreeRegressor()
models.fit(X_train, y_train)

multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(models , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(models , X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  0.20990285866668085 training mse:  0.7083373143639117 training r2:  1.0 training rmse:  0.8416277766114375
test mean error:  309752.9767637784 test mse:  28260143432526.957 test r2:  0.9999580891733859 test rmse:  5316027.034593311

In [26]:
decpredicts=models.predict(X_test)
exp_decs = explained_variance_score(y_test,decpredicts)
print(models.score(X_test, y_test),'% Prediction Accuracy')
print(exp_decs,'% explained_variance_score')

0.9999580891733858 % Prediction Accuracy
0.9999580942753239 % explained_variance_score

In [13]:
model = DecisionTreeRegressor(criterion='mse', max_depth=7, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
model.fit(X_train, y_train)

multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(model , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(model , X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  23361978.673410192 training mse:  1132528117878035.8 training r2:  0.9998963126977418 training rmse:  33653055.104671195
test mean error:  23635943.452777177 test mse:  1473700088888336.2 test r2:  0.9978144488525309 test rmse:  38388801.60786914

In [14]:
decpredict=model.predict(X_test)
exp_dec = explained_variance_score(y_test,decpredict)
print(model.score(X_test, y_test),'% Prediction Accuracy')
print(exp_dec,'% explained_variance_score')

0.997814448852531 % Prediction Accuracy
0.9978168487608176 % explained_variance_score

In [15]:
model_1 = DecisionTreeRegressor(max_features=170,max_depth =8,random_state=100,max_leaf_nodes=136)
model_1.fit(X_train, y_train)

multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(model_1 , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(model_1 , X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  88693254.61693336 training mse:  2.9459193294830492e+16 training r2:  0.9973028976223853 training rmse:  171636806.3523395
test mean error:  97551656.68345745 test mse:  9.105946128942605e+16 test r2:  0.8649554874769999 test rmse:  301760602.6131079

In [16]:
decpredict1=model_1.predict(X_test)
exp_dec1 = explained_variance_score(y_test,decpredict1)
print(model_1.score(X_test, y_test),'% Prediction Accuracy')
print(exp_dec1,'% explained_variance_score')

0.864955487477 % Prediction Accuracy
0.8650269493513177 % explained_variance_score

In [18]:
dff = pd.DataFrame({'Actual': y_test.values.flatten(), 'Predicted': decpredict.flatten()})
dff

          Actual     Predicted
0      389999999  3.958898e+08
1       71666666  4.543003e+07
2       25000000  4.543003e+07
3     1800000000  1.785251e+09
4      150000000  1.742322e+08
5      480000000  4.959267e+08
6      208333333  2.415205e+08
7      250000000  2.415205e+08
8     1549999999  1.541948e+09
9      200000000  1.742322e+08
10     850000000  8.534944e+08
11     233333333  2.415205e+08
12     299999999  3.138803e+08
13     350033333  3.138803e+08
14     129999999  1.094530e+08
15     113333333  1.094530e+08
16    3666666666  3.933514e+09
17      86666666  1.094530e+08
18     275000000  2.415205e+08
19     586666666  6.132868e+08
20     366666666  3.958898e+08
21     260000000  2.415205e+08
22     249999999  2.415205e+08
23     253333333  2.415205e+08
24    3166666666  3.039834e+09
25     800000000  8.534944e+08
26     186666666  1.742322e+08
27     400000000  3.958898e+08
28     139999999  1.094530e+08
29     113333333  1.094530e+08
...          ...           ...
1125   126666666  1.094530e+08
1126   433333333  3.958898e+08
1127   400033333  3.958898e+08
1128   153333333  1.742322e+08
1129   300000000  3.138803e+08
1130   219999999  2.415205e+08
1131  1400000000  1.347030e+09
1132   280000000  3.138803e+08
1133   383333333  3.958898e+08
1134   600000000  6.132868e+08
1135   120000000  1.094530e+08
1136    90000000  1.094530e+08
1137    59999999  4.543003e+07
1138   269999999  2.415205e+08
1139   250000000  2.415205e+08
1140   279999999  3.138803e+08
1141   170000000  1.742322e+08
1142   103333333  1.094530e+08
1143  2500000000  2.458496e+09
1144    66666666  4.543003e+07
1145   599999999  6.132868e+08
1146   233333333  2.415205e+08
1147    73333333  4.543003e+07
1148   283333333  3.138803e+08
1149   983333333  1.030852e+09
1150   500000000  4.959267e+08
1151   331666666  3.138803e+08
1152   120000000  1.094530e+08
1153   380000000  3.958898e+08
1154    73333333  4.543003e+07

[1155 rows x 2 columns]

In [ ]:
#ejare

In [19]:
Z = df.drop('ejare2',axis=1)
w = df.ejare2
z_train, z_test, w_train, w_test = train_test_split(Z, w, test_size =0.07,random_state=101)

In [29]:
model1s = DecisionTreeRegressor()
model1s.fit(z_train, w_train)

multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(model1s , z_train,w_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(model1s , z_test, w_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  0.11312789107079647 training mse:  0.056730005507098794 training r2:  1.0 training rmse:  0.2381806153050638
test mean error:  7511.254494134227 test mse:  22830690553.015022 test r2:  0.9999623791673641 test rmse:  151098.28110542826

In [30]:
decpredict_1s=model1s.predict(z_test)
exp_dec_1s = explained_variance_score(w_test,decpredict_1s)
print(model1s.score(z_test, w_test),'% Prediction Accuracy')
print(exp_dec_1s,'% explained_variance_score')

0.9999623791673641 % Prediction Accuracy
0.9999624230809508 % explained_variance_score

In [20]:
model1 = DecisionTreeRegressor(criterion='mse', max_depth=7, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
model1.fit(z_train, w_train)

multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(model1 , z_train,w_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(model1 , z_test, w_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  700859.3701227846 training mse:  1019275330717.4723 training r2:  0.9998963126952304 training rmse:  1009591.6653367699
test mean error:  707736.5120480253 test mse:  1279868187442.5027 test r2:  0.9978910096142715 test rmse:  1131312.5949279016

In [21]:
decpredict_1=model1.predict(z_test)
exp_dec_1 = explained_variance_score(w_test,decpredict_1)
print(model1.score(z_test, w_test),'% Prediction Accuracy')
print(exp_dec_1,'% explained_variance_score')

0.9978910096142715 % Prediction Accuracy
0.9978911199595181 % explained_variance_score

In [22]:
model2 = DecisionTreeRegressor(max_features=170,max_depth =8,random_state=100,max_leaf_nodes=136)
model2.fit(z_train, w_train)

multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(model2 , z_train,w_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(model2 , z_test, w_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  2631174.9258962455 training mse:  26164296610212.273 training r2:  0.9973383978646899 training rmse:  5115104.750658805
test mean error:  2880201.7801860766 test mse:  81221209395407.31 test r2:  0.8661621943471789 test rmse:  9012281.031759236

In [23]:
decpredict_2=model2.predict(z_test)
exp_dec_2 = explained_variance_score(w_test,decpredict_2)
print(model2.score(z_test, w_test),'% Prediction Accuracy')
print(exp_dec_2,'% explained_variance_score')

0.8661621943471789 % Prediction Accuracy
0.8662189508854234 % explained_variance_score