In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [36]:
df = pd.read_csv('all_tehran_eslahi.csv')

In [37]:
df.head()

,Unnamed: 0,year_of_construction,Room_number,Area,vadie2,ejare2,place_ آجودانیه,place_ آذربایجان,place_ آذری,place_ آرارات,...,place_ ‌ویلا,Advertiser_شخصی,Advertiser_مشاور املاک,category_آپارتمان,category_خانه و ویلا,category_خانه ویلا,category_دفتر کار، اتاق اداری و مطب,category_صنعتی، کشاورزی و تجاری,category_مغازه و غرفه,id
0,0,1376,3.0,130,323333333,9700000,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
1,1,1398,2.0,85,280000000,8400000,0,0,0,0,...,0,1,0,1,0,0,0,0,0,2
2,2,1394,2.0,65,120000000,3600000,0,0,0,0,...,0,1,0,1,0,0,0,0,0,3
3,3,1390,2.0,88,142000000,4260000,0,0,0,0,...,0,1,0,1,0,0,0,0,0,4
4,4,1376,2.0,75,123333333,3700000,0,0,0,0,...,0,0,1,1,0,0,0,0,0,5

In [33]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
df.drop(['ad_type'], axis=1, inplace=True)
df.drop(['Deposit', 'Lease'], axis=1, inplace=True)
df.drop(['vadie', 'ejare'], axis=1, inplace=True)
#df.drop(['vadie2', 'ejare2'], axis=1, inplace=True)

In [34]:
df.head()

,year_of_construction,Room_number,Area,vadie2,ejare2,place_ آجودانیه,place_ آذربایجان,place_ آذری,place_ آرارات,place_ آرژانتین,...,place_ ‌ویلا,Advertiser_شخصی,Advertiser_مشاور املاک,category_آپارتمان,category_خانه و ویلا,category_خانه ویلا,category_دفتر کار، اتاق اداری و مطب,category_صنعتی، کشاورزی و تجاری,category_مغازه و غرفه,id
0,1376,3.0,130,323333333,9700000,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
1,1398,2.0,85,280000000,8400000,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,2
2,1394,2.0,65,120000000,3600000,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,3
3,1390,2.0,88,142000000,4260000,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,4
4,1376,2.0,75,123333333,3700000,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,5

In [6]:
df = pd.get_dummies(df, columns=['place','Advertiser','category'])

In [7]:
df.head()

,year_of_construction,Room_number,Area,vadie2,ejare2,place_ آجودانیه,place_ آذربایجان,place_ آذری,place_ آرارات,place_ آرژانتین,...,place_ ‌نو,place_ ‌ویلا,Advertiser_شخصی,Advertiser_مشاور املاک,category_آپارتمان,category_خانه و ویلا,category_خانه ویلا,category_دفتر کار، اتاق اداری و مطب,category_صنعتی، کشاورزی و تجاری,category_مغازه و غرفه
0,1376,3.0,130,323333333,9700000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,1398,2.0,85,280000000,8400000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1394,2.0,65,120000000,3600000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3,1390,2.0,88,142000000,4260000,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,1376,2.0,75,123333333,3700000,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [8]:
df = df.dropna()

In [28]:

df['id'] = range(1, len(df) + 1)

In [9]:
X = df.drop('vadie2',axis=1)
y = df.vadie2

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import math

# define a function to generate a prediction and then compare the desired metrics
def predict_metrics(lr, x, y):
    pred = lr.predict(x)
    mae = mean_absolute_error(y, pred)
    mse = mean_squared_error(y, pred)
    rmse = math.sqrt(mse)
    r2 = r2_score(y, pred)
    return mae, mse, r2 , rmse

In [11]:
# import machine learning library
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split( X, y, test_size = 0.07, random_state = 101)

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
regr_rf = RandomForestRegressor()
regr_rf.fit(X_train, y_train)
y_rf = regr_rf.predict(X_test)

C:\Users\Qanbari\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [40]:
multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(regr_rf , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(regr_rf , X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  3113273.96401333 training mse:  2.7069498605449844e+16 training r2:  0.9975216833564005 training rmse:  164528108.86122116
test mean error:  316567.09708742856 test mse:  19857822823951.316 test r2:  0.9999705501222492 test rmse:  4456211.712200321

In [41]:
regrrf = RandomForestRegressor(n_estimators=271)
regrrf.fit(X_train, y_train)
multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(regrrf , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(regrrf , X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  7211881.562734408 training mse:  2.8186910574132445e+17 training r2:  0.9741937999570258 training rmse:  530913463.514841
test mean error:  572570.2850068269 test mse:  105707053674457.78 test r2:  0.9998432325720845 test rmse:  10281393.566752408

In [ ]:
from sklearn.model_selection import GridSearchCV, train_test_split
rfgs_parameters = {
    'n_estimators': [100,200,50,271],
    'max_depth'   : [1,8,12,16],
    #'max_features': [n for n in range(1, 8)],
    #"min_samples_split": [n for n in range(2, 8)],
    #"min_samples_leaf": [n for n in range(2, 8)],
    #"bootstrap": [True,False]
}
rfr_cv = GridSearchCV(RandomForestRegressor(), rfgs_parameters, cv=7, scoring= 'neg_mean_squared_error')
rfr_cv.fit(X_train, y_train)
print("RFR GridSearch score: "+str(rfr_cv.best_score_))
print("RFR GridSearch params: ")
print(rfr_cv.best_params_)

In [17]:
from sklearn.model_selection import GridSearchCV, train_test_split
rfgs_parameters = {
    'n_estimators': [100],
    'max_depth'   : [6],
    'max_features': [n for n in range(1, 8)],
    "min_samples_split": [n for n in range(2, 8)],
    #"min_samples_leaf": [n for n in range(2, 8)],
    #"bootstrap": [True,False]
}
rfr_cv = GridSearchCV(RandomForestRegressor(), rfgs_parameters, cv=7, scoring= 'neg_mean_squared_error')
rfr_cv.fit(X_train, y_train)
print("RFR GridSearch score: "+str(rfr_cv.best_score_))
print("RFR GridSearch params: ")
print(rfr_cv.best_params_)

C:\Users\Qanbari\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

RFR GridSearch score: -9.348891022673476e+18
RFR GridSearch params:
{'max_depth': 6, 'max_features': 7, 'min_samples_split': 3, 'n_estimators': 100}

In [18]:
from sklearn.model_selection import GridSearchCV, train_test_split
rfgs_parameters = {
    'n_estimators': [100],
    'max_depth'   : [6],
    'max_features': [7],
    "min_samples_split": [3],
    "min_samples_leaf": [n for n in range(1, 8)],
    "bootstrap": [True,False]
}
rfr_cv = GridSearchCV(RandomForestRegressor(), rfgs_parameters, cv=7, scoring= 'neg_mean_squared_error')
rfr_cv.fit(X_train, y_train)
print("RFR GridSearch score: "+str(rfr_cv.best_score_))
print("RFR GridSearch params: ")
print(rfr_cv.best_params_)

C:\Users\Qanbari\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

RFR GridSearch score: -9.03749929807836e+18
RFR GridSearch params:
{'bootstrap': False, 'max_depth': 6, 'max_features': 7, 'min_samples_leaf': 5, 'min_samples_split': 3, 'n_estimators': 100}

In [ ]:
predictiontest = rfr_cv.best_estimator_.predict(X_test)
predictiontrain = rfr_cv.best_estimator_.predict(X_train)

In [19]:
multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(rfr_cv , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(rfr_cv, X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  425656716.96791536 training mse:  8.725020079269386e+18 training r2:  0.18915620467477634 training rmse:  2953814496.42143
test mean error:  367724222.9801781 test mse:  7.602283658675735e+17 test r2:  0.1220232260852181 test rmse:  871910755.6783397

In [18]:
rand_regr = RandomForestRegressor(min_samples_leaf= 50, n_estimators= 1000)
rand_regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=50, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [19]:
multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(rand_regr , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(rand_regr, X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  107909021.70245278 training mse:  8.269814656010103e+18 training r2:  0.24286668178821924 training rmse:  2875728543.519034
test mean error:  45975945.57939383 test mse:  4.1453168219770784e+17 test r2:  0.38523434956638425 test rmse:  643841348.6237955