In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('all_tehran_eslahi.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,category,place,ad_type,year_of_construction,Advertiser,Room_number,Area,Deposit,Lease,vadie,ejare,vadie2,ejare2
0,0,0,آپارتمان,نیاوران,ارائه,1376,شخصی,3.0,130,90000000,7000000,233333333,2700000,323333333,9700000
1,2,2,آپارتمان,شهرک کوهسار,ارائه,1398,شخصی,2.0,85,280000000,0,0,8400000,280000000,8400000
2,3,3,آپارتمان,جیحون,ارائه,1394,شخصی,2.0,65,70000000,1500000,50000000,2100000,120000000,3600000
3,4,4,آپارتمان,شهرک گلستان غربی,ارائه,1390,شخصی,2.0,88,32000000,3300000,110000000,960000,142000000,4260000
4,5,5,آپارتمان,پارس غربی,ارائه,1376,مشاور املاک,2.0,75,80000000,1300000,43333333,2400000,123333333,3700000

In [4]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
df.drop(['ad_type'], axis=1, inplace=True)
df.drop(['Deposit', 'Lease'], axis=1, inplace=True)
df.drop(['vadie', 'ejare'], axis=1, inplace=True)

In [5]:
df = pd.get_dummies(df, columns=['place','Advertiser','category'])

In [6]:
df = df.dropna()

In [7]:
X = df.drop('vadie2',axis=1)
y = df.vadie2

In [8]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import math

# define a function to generate a prediction and then compare the desired metrics
def predict_metrics(lr, x, y):
    pred = lr.predict(x)
    mae = mean_absolute_error(y, pred)
    mse = mean_squared_error(y, pred)
    rmse = math.sqrt(mse)
    r2 = r2_score(y, pred)
    return mae, mse, r2 , rmse

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split( X, y, test_size = 0.07, random_state = 101)

In [10]:
from sklearn.svm import SVR

In [11]:
regressor = SVR(kernel='rbf',gamma='auto')
regressor.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [12]:
multi_train_mae, multi_train_mse, multi_train_r2, multi_train_rmse = predict_metrics(regressor , X_train,y_train)
multi_test_mae, multi_test_mse, multi_test_r2, multi_test_rmse = predict_metrics(regressor , X_test, y_test)
print('training mean error: ', multi_train_mae, 'training mse: ', multi_train_mse, 'training r2: ', multi_train_r2, 'training rmse: ', multi_train_rmse)
print('test mean error: ', multi_test_mae, 'test mse: ', multi_test_mse, 'test r2: ', multi_test_r2, 'test rmse: ', multi_test_rmse)

training mean error:  394575595.0268334 training mse:  1.1005650639463029e+19 training r2:  -0.0076096181527371964 training rmse:  3317476546.934888
test mean error:  327987664.0526386 test mse:  7.226013532281576e+17 test r2:  -0.07164424336967024 test rmse:  850059617.455245