In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from unidecode import unidecode
%matplotlib inline

In [40]:
df = pd.read_csv('vila_tehran.csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 10 columns):
Unnamed: 0              4368 non-null int64
category                4368 non-null object
place                   4368 non-null object
ad_type                 4368 non-null object
year_of_construction    4368 non-null object
Advertiser              4368 non-null object
Room_number             4368 non-null object
Area                    4368 non-null object
Deposit                 4368 non-null object
Lease                   4368 non-null object
dtypes: int64(1), object(9)
memory usage: 341.3+ KB

In [42]:
df.head()

,Unnamed: 0,category,place,ad_type,year_of_construction,Advertiser,Room_number,Area,Deposit,Lease
0,0,خانه و ویلا,تهران شهریار,ارائه,۱۳۹۵,شخصی,یک,۶۰۰,توافقی,توافقی
1,1,خانه و ویلا,تهران شهرک غرب,ارائه,۱۳۹۸,مشاور املاک,چهار,۳۰۰,۵۰۰٫۰۰۰٫۰۰۰ تومان,۱۲٫۰۰۰٫۰۰۰ تومان
2,2,خانه و ویلا,تهران شهریار,ارائه,۱۳۹۲,شخصی,یک,۸۵,۶۷٫۰۰۰٫۰۰۰ تومان,مجانی
3,3,خانه و ویلا,تهران افسریه,ارائه,۱۳۹۶,شخصی,یک,۱۵۰۰,۱۶۰٫۰۰۰٫۰۰۰ تومان,توافقی
4,4,خانه و ویلا,تهران ورامین,ارائه,۱۳۷۷,شخصی,سه,۹۵,۴۵٫۰۰۰٫۰۰۰ تومان,۲۵۰٫۰۰۰ تومان

In [43]:
df.shape

(4368, 10)

In [44]:
df= df[(df['Deposit'] !='توافقی')|(df['Lease'] !='توافقی')]

In [45]:
def ejare(col):
    
    if (col != -1):
        a =((int(col) / 1000000) * 30000 )
        
        return a
        
    else :
        a = int(col)
        return col

In [46]:
def vadie(col):
    
    if (col != -1):
        a =((int(col) / 30000) * 1000000 )
        a = int(a)
        return a
        
    else :
        a = int(col)
        return col

In [47]:
def integer_per(col):
    
    if col == 'توافقی':
        a = -1
        return a
    else :
        a = unidecode(col)
            
       
        return a

In [48]:
df['place']= df['place'].apply(lambda Lease: Lease.replace('تهران',''))

In [49]:
df['Lease']= df['Lease'].apply(lambda Lease: Lease.replace('تومان',''))
df['Lease']= df['Lease'].apply(lambda Lease: Lease.replace('٫',''))
df['Lease']= df['Lease'].apply(lambda Lease: Lease.replace('مجانی','0'))
df['Lease']= df['Lease'].apply(lambda Lease: Lease.replace('رایگان','0'))
df['Lease']= df['Lease'].apply(integer_per)

In [50]:
df['vadie']= df['Lease'].apply(vadie)

In [51]:
df['Deposit']= df['Deposit'].apply(lambda Deposit: Deposit.replace('تومان',''))
df['Deposit']= df['Deposit'].apply(lambda Deposit: Deposit.replace('مجانی','0'))
df['Deposit']= df['Deposit'].apply(lambda Deposit: Deposit.replace('رایگان','0'))
df['Deposit']= df['Deposit'].apply(lambda Deposit: Deposit.replace('٫',''))
df['Deposit']= df['Deposit'].apply(integer_per)

In [52]:
df['ejare']= df['Deposit'].apply(ejare)

In [53]:
df['year_of_construction']= df['year_of_construction'].apply(lambda Lease: Lease.replace('قبل از',''))
df['year_of_construction']= df['year_of_construction'].apply(integer_per)

In [54]:
df['Area']= df['Area'].apply(integer_per)

In [55]:
dmap = {'بدون اتاق' : 0 , 'یک' : 1, 'دو' : 2 , 'سه' : 3, 'چهار' : 4,  'پنج ' : 5, 'پنج یا بیشتر' : 5 , 'صفر' : 0 }
df['Room_number']= df['Room_number'].map(dmap)
df.Room_number = df.Room_number.astype(str)

In [56]:
df.get_dtype_counts()

float64    1
int64      2
object     9
dtype: int64

In [57]:
df.to_csv('vila_tehran_eslahi.csv')